* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.3rem;
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;
}

nav .nav-right-section a:hover {
    text-decoration: underline;
}

nav .nav-right-section .menu-icon {
    background-image: url(https://bn1301files.storage.live.com/y4p-scbF89W0fXQMfLK1ELNpO8nFVlNndFjAIrCnRd3yKAxhEwSgp6YuuPveUIc8lRI1sm5Ryzibwq1SNifIyPhX1uq29YIbynHaOlTdZUEIh3jkLw98b2MXLqZRKWy-7aMltKGST-fz7wPaUI0_kNa7MVwRjE9YpYcKGvvKsPl5YZKeTZdoPCfPSQhqp_a7VDXGQcjyovzKomae1Zo2AWNAa2IK5myD-vukdGI54-_MI0/apps_black.png?psid=1&width=48&height=48&cropMode=center);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

nav .nav-right-section .menu-account {
    background-image: url(https://bn1301files.storage.live.com/y4prlrN74631FvbARUWldw0cEuDS2bqPaus0DkalMO6e8TWqFVN0fG9EyDuse8ETgSh8TzqcKyqO2g5DobtjByg-3JoSBNWCeWDREtigisuEM7hffnz_PoM-zZkklAD5r58i3DWccHwym0vi1x4nrTnAFMjy12T12NDXGvhL9ruRCTP5JKJhYBAubwM7LjgP4Xe-VmTngu8rmAhjFcRMQdta2RlMXi4CE9HCPZVF6TVIhI/account_circle_black.png?psid=1&width=48&height=48&cropMode=center);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

main {
    margin-top: 100px;
    text-align: center;
}

main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 28px;
}

main .main-logo img {
    width: 272px;
    height: 92px;
}

main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .main-input .search-icon {
    background-image: url('https://bn1301files.storage.live.com/y4pR4SVOT6u8TNb68lTZFKBPOQpwep_9LN80Tz4_W_Ht6an1qCPf1L9HYUe4UyHm-5G14Hj_F0HG9copC5nJwXjfzkWEPEX1mecmyBNxSOxDepr6Lqr3dEWJVuG3D6UcVuzWvNJOz9QkdwpD-dy7qkJQ5CHw4_X91Ubur72rfDGF5yL_44nRbNJZsvVBnT_YfzLiPn5pdiGn8XdEQoEKZhRrh9DPJM1WzTG9aEDjhnR3AA/search_black.png?psid=1&width=48&height=48&cropMode=center');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
}

main .main-input .micro-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/1200px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 21px;
    height: 21px;
    cursor: pointer;
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div {
    display: inline-block;
}

main .main-buttons button {
    height: 36px;
    background-color: #f8f9fa;
    border: 0;
    font-size: 1.4rem;
    color: #3c4043;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
}

main .main-buttons button:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px #808080;
}

main .main-div {
    margin-top: 30px;
    font-size: 1.3rem;
    color: #3c4043;
}

main .main-div a {
    color: #1a0dab;
}

main .main-div a:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 1.4rem;
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
}

footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
}

footer ul a {
    color: #70757a;
}

footer ul a:hover {
    text-decoration: underline;
}

footer .footer-left {
    justify-self: left;
}

footer .footer-right {
    justify-self: right;
}

footer ul li a {
    margin: 10px;
}